<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Mensajes</title>
</head>
<body>
    <!-- Aca empieza el Navbar (donde va el home,etc) -->
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  
  </nav> 

  <!-- Aca termina el Navbar -->

  <center><h1>Mensajes</h1></center>

  <div class="container mt-3">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Mensaje</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/09/2023</td>
          <td>Juan</td>
          <td>Mensaje de prueba</td>
        </tr>
        <tr>
          <td>15/09/2023</td>
          <td>Pepe</td>
          <td>Tengo una consulta...</td>
        </tr>
        <tr>
          <td>16/09/2023</td>
          <td>Maria</td>
          <td>Tuve problemas con las facturas</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>